/* aloha burger style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', fantasy, sans-serif;
    outline: red solid 1px;
}

.page-title {
    height: auto;
    width: 20rem;
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.recipe-image {
    height: 15rem;
    width: 15rem;
    margin: auto 3.5rem;
}